.homeimage{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 100%;
    height: 60.4rem;
    position: absolute;
    background-color: rgb(rgb(230,230,250));
}

.container{
   padding:10rem;
   text-align:center;
   position: relative;
}
button{
	background-color: #8A2BE2 !important;
	border: none !important;
	width: 100% !important;
	border-radius: 425px !important;
}
form .name{
	border-radius: 425px;
}
form .email{
	border-radius: 425px;
}
form .message{
  border-radius: 15px;

  padding: 20px;
  width: 100%;
  height: 200px; 
}
.row{
	background-color: white;
	border-radius: 20px;
	height: 40rem;
	align-content: center;
	padding: 2rem;
}
.messageimg{
	padding:6rem;
}

@media (max-width:768px) {
 	.col-6{
 		max-width:100% !important;
 		flex:0 0 100% !important;
 	}
@media (max-width:768px) {
 	img{
 		padding-top: 20rem!important;
      }
 	.container {
    height: 100%!important;
}